*{
    margin: 0  auto;
    box-sizing: border-box;
  }
  .container{
    width : 1140px;
    margin: 0 auto;
  }
  
  body{
    background : hsla(210,20%, 90%, 1);
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  /*display property*/
  .d-flex{
    display: flex;
  }
  
  .justify-start{
    justify-content: flex-start;
  }
  
  .justify-center{
    justify-content: center;
  }
  
  .justify-end{
    justify-content: flex-end;
  }
  .align-start{
    align-items: flex-start;
  }
  
  .align-center{
    align-items: center;
  }
  
  .align-end{
    align-items: flex-end;
  }
  
  .row-gap{
    gap: 20px;
  }
  
  /*column partition*/
  
  .col-1{
    width: 8.33%;
  }
  .col-2{
    width: 16.66%;
  }
  .col-3{
    width: 25%;
  }
  .col-4{
    width: 33.33%;
  }
  .col-5{
    width: 41.66%;
  }
  .col-6{
    width: 50%;
  }
  .col-7{
    width: 58.33%;
  }
  .col-8{
    width: 66.66%;
  }
  .col-9{
    width: 75%;
  }
  .col-10{
    width: 83.33%;
  }
  .col-11{
    width: 91.66%;
  }
  .col-12{
    width: 100%;
  }
  
  .p-0{
    padding: 0;
  }
  .ps-1{
    padding-left: 2%;
  }
  .ps-2{
    padding-left: 10%;
  }
  .ps-3{
    padding: 15%;
  }
  .ps-4{
    padding: 20%;
  }
  .ps-5{
    padding: 25%;
  }
  .pt-6{
    padding-top: 90px;
  }
  
  .P-1{
    padding: 10PX;
  }
  .pt{
    padding-top: 20px;
  }
  .pt-1{
    padding-top: 10px;
  }
  
  .m-0{
    margin: 0;
  }
  
  
  